@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --blanco: #f1e6e6;
    --rojo: #c94747;
    --grisClaro: #d1cccc;
    --main:  #684747;
    --tipografia: #f4cfcf;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.contenedor {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--main);
}
/* --ASIDE-- */
.aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--blanco);
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0;
}
.logo {
    font-size: 1.8rem;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.boton-menu {
    text-align: center;
    background-color: transparent;
    border: none;
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    column-gap: .5rem;
    padding: 1rem;
    align-items: center;
    width: 100%;
}
.boton-menu.active {
    background-color: var(--blanco);
    color: var(--main);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    position: relative;
}
.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--blanco);
    background-color: transparent;
}
.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--blanco);
    background-color: transparent;
}
.bi-hand-index {
    transform: rotateZ(90deg);
}
.boton-carrito {
    margin-top: 2rem;
}
.numerito {
    background-color: var(--blanco);
    color: var(--main);
    padding: .1rem .25rem;
    border-radius: .35rem;

}
.texto-footer {
    font-size: 0.75rem;
    color:var(--grisClaro)
}

/* --MAIN-- */
.main {
    background-color: var(--blanco);
    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    margin-left: 0;
}
.titulo-principal {
    color: var(--main);
    margin-bottom: 2rem;
    font-size: 2rem;
}
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.5rem;
}
.producto {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}
.producto-detalles {
    background-color: var(--grisClaro);
    color: var(--main);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -1.7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto-agregar {
    font-size: 1rem;
}
.producto-agregar {
    background-color: var(--blanco);
    color: var(--main);
    font-weight: 700;
    padding: 0.25rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--blanco);
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
    background-color: var(--main);
    color: var(--blanco);
}

/* --CARRITO-- */

.carrito-vacio {
    font-size: 1.7rem;
    color: var(--rojo);
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-producto {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: var(--grisClaro);
color: var(--main);
border-radius: 1rem;
padding: 0.5rem;
padding-right: 1rem;
gap: 1rem;
}
.carrito-producto-imagen {
    width: 5rem;
    border-radius: 0.5rem;
}
.carrito-producto p {
    font-weight: 700;
}
.carrito-producto-eliminar {
    border: none;
    background-color: transparent;
    color: var(--rojo);
    cursor: pointer;
}
.bi-trash-fill {
    font-weight: 700;
    font-size: 1.3rem
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.carrito-acciones-vaciar {
    border: none;
    padding: .8rem 1rem;
    border-radius: 1.3rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--grisClaro);
    color: var(--rojo);
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
    background-color: var(--grisClaro);
    border-radius: 1.3rem;


}
.carrito-acciones-comprar {
    border: none;
    padding: .8rem 1rem;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--main);
    color: var(--tipografia);
    cursor: pointer;
}
.carrito-acciones-total {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    padding:.7rem;
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
.disable {
    display: none;
}
.header-mobile, .close-menu {
    display: none;
}

/*  --MEDIA QUERIES-- */
@media screen and (min-width: 1024px) {
    .contenedor-productos {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (min-width: 1000px) {
    .contenedor-productos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 675px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .aside {
        position: fixed;
        z-index: 9;
        background-color: var(--main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .65);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }
    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .boton-menu.active::after,
    .boton-menu.active::before {
        display: none;
    }
    
    .main {
        margin: 1rem;
        margin-top: 0;
        padding: 1.5rem;
    }
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .header-mobile {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .open-menu, .close-menu{
        border: 0;
        background-color: var(--main);
        font-size: 2.2rem;
        color: var(--tipografia);
        cursor: pointer;
    }
    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;

    }
    .header-mobile .logo {
        color: var(--tipografia);
    }
    .carrito-acciones {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-end;
    }
    /* .carrito-acciones-vaciar {
        position: absolute;
        left: 2.5rem;
    } */
}
@media screen and (max-width: 600px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;;
    }
}
@media (max-width: 390px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}